{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Ofertas</title>
  </head>
  <body>
    <header>
      <h1>Ofertas Actuales</h1>
    </header>
    <nav>

      <a href="/">Regresar a la página principal</a>
    </nav>

    
    <p>Consulta nuestras últimas ofertas en la tienda.</p>
    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>
